[submodule "vendor/deepagentsjs"]
	path = vendor/deepagentsjs
	url = git@github.com:langchain-ai/deepagentsjs
[submodule "vendor/langchainjs"]
	path = vendor/langchainjs
	url = git@github.com:langchain-ai/langchainjs.git
[submodule "vendor/langgraphjs"]
	path = vendor/langgraphjs
	url = git@github.com:langchain-ai/langgraphjs.git
