[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/bite-solidity"]
	path = lib/bite-solidity
	url = https://github.com/skalenetwork/bite-solidity
